NAME=Carlos Bot
AVATAR=https://onecms-res.cloudinary.com/image/upload/s--6tGv-6W9--/fl_relative,g_south_east,l_one-cms:core:watermark:reuters,w_0.1/f_auto,q_auto/c_fill,g_auto,h_676,w_1200/v1/one-cms/core/2022-01-31t151903z_2_lynxmpei0u0o0_rtroptp_3_soccer-england-carlos.jpg
TYPE=bot
MAIN=bot.js
RAM=200
AUTORESTART=false
VERSION=latest
APT=puppeteer